@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;

.container {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: black;
}
.link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  text-decoration: none;
}
.title {
  margin-left: $spacing-04;
  @include type-style('body-compact-01');
}
