@use '@carbon/styles/scss/type' as *;
@use '@carbon/styles/scss/spacing' as *;

.size {
  margin-top: 0px;
  margin-bottom: 0px;

  &--01 {
    margin-top: $spacing-03;
    margin-bottom: $spacing-03;
  }
  &--02 {
    margin-top: $spacing-03;
    margin-bottom: $spacing-03;
  }
  &--03 {
    margin-top: $spacing-03;
    margin-bottom: $spacing-03;
  }
  &--04 {
    margin-top: $spacing-04;
    margin-bottom: $spacing-04;
  }
  &--05 {
    margin-top: $spacing-05;
    margin-bottom: $spacing-05;
  }
  &--06 {
    margin-top: $spacing-06;
    margin-bottom: $spacing-06;
  }
  &--07 {
    margin-top: $spacing-07;
    margin-bottom: $spacing-07;
  }
  &--08 {
    margin-top: $spacing-08;
    margin-bottom: $spacing-08;
  }
  &--09 {
    margin-top: $spacing-09;
    margin-bottom: $spacing-09;
  }
  &--10 {
    margin-top: $spacing-10;
    margin-bottom: $spacing-10;
  }
  &--11 {
    margin-top: $spacing-11;
    margin-bottom: $spacing-11;
  }
  &--12 {
    margin-top: $spacing-12;
    margin-bottom: $spacing-12;
  }
  &--13 {
    margin-top: $spacing-13;
    margin-bottom: $spacing-13;
  }
}

.statusChangePanel {
  display: flex;
  justify-content: right;
}
