@use '@carbon/type';

.container {
  display: flex;

  &__related-person {
    padding-right: 20px;
    display: flex;
    align-items: center;
    @include type.type-style('body-compact-01');
    svg {
      padding-right: 5px;
    }
  }
}
